<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <style>
        li { list-style-type: none; }
        ul { margin: 0; padding: 0; }
    </style>
</head>
<body>
    <h1>Сообщение</h1>
    <form method="post">
        <ul class="message_area">
            <li>
                <input type="text" name="title" placeholder="Ваше имя" size="30">
            </li>
            <li>
                <input type="text" name="email" placeholder="example@domen.com" size="30">
            </li>
            <li>
                <textarea name="text" placeholder="Текст сообщения" cols="32" rows="5"></textarea>
            </li>
            <li>
                <input type="submit">
            </li>
        </ul>
    </form>
</body>
</html>